<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Phụ kiện giá rẻ - Reset password</title>
</head>

<body>
    <div style="padding: 0 150px">
        <p>
            <img src="cid:{0}" style="width: 80px;" />
        </p>
        <div style="padding: 30px; border: 1px solid #f1f1f1;">
            <h3 style="color: #294661;">Hello {{FullName}},</h3>
            <h4 style="color: #294661;">A request has been received to change the password for Your Account.</h4>
            <div style="text-align: center; padding-top: 30px;">
                <a href="{{LinkTo}}"
                   style="background-color: #348eda; color: #fff; padding: 12px 45px; font-size: 14px; font-weight: 300; text-decoration: none;">Reset password</a>
            </div>
            <p style="margin-top: 30px;">
                If you did not initiate this request, please contact us immediately at <a href="mailto:vuonghovan@gmail.com" target="_blank">vuonghovan@gmail.com</a>
            </p>

            <p style="margin-top: 30px;">Thank you,</p>
            <p>{{HostName}}</p>
        </div>
    </div>
</body>
</html>   