src/*/bin
src/*/*/bin
src/*/obj
src/*/*/obj
src/.vs
src/UpgradeLog.htm
src/*/appsettings.Development.json

*.DotSettings.user
*.v12.suo
*.g.cs
*.g.i.cs
*.baml
*.pdb
*.cache
*.lref
*.csproj.user
*.tmp_proj
/.vs
*.v15.suo
