@{
    Layout = null;
}
<form id="forgot-password-form" data-parsley-validate="" data-parsley-required-message="Vui lòng nhập thông tin">
    <div class="text-center modal-intro-block">
        <div class="flex-container">
            <i class="fas fa-key m-auto fa-5x" id="iconStart"></i>
            <i class="far fa-envelope m-auto fa-5x" style="display:none;" id="iconSuccess"></i>
            <h4 id="messageStart">Nhập email của bạn để khôi phục mật khẩu mới</h4>
            <h4 id="messageSuccess" style="display:none;">Vui lòng kiểm tra hộp thư của bạn</h4>
        </div>
    </div>
    <div class="form-group">
        <label class="primary-color">Email address:</label>
        <input id="resetPasswordEmail" type="email" class="form-control" name="email" required="" placeholder="Nhập email của bạn"
               data-parsley-type-message="Địa chỉ email không hợp lệ">
    </div>
    <div class="clearfix"></div>
    <button type="submit" id="resetPasswordBtn" class="btn btn-dark btn-lg btn-block text-uppercase">
        <img src="~/images/loading-modal.gif" class="js_processing_spinning_wheel" width="18" style="display: none; margin-right: 5px;" />
        <span class="btn-title" data-original-title="Gửi lại mật khẩu">Gửi mật khẩu</span>
    </button>
</form>

<script>

    var showError = function (btn) {
        var seconds = 2;
        btn.prop('disabled', true);
        setInterval(function () {
            btn.prop('disabled', false).removeClass('disabled');
            btn.find('.btn-title').text(btn.find('.btn-title').data('original-title'));
        }, seconds * 1000);
    }

    var resetPasswordBtn = document.getElementById('resetPasswordBtn');
    var form = document.getElementById('#forgot-password-form')

    resetPasswordBtn.addEventListener('click', function () {
        // Validate all input fields by Parsley.
        $('#forgot-password-form').parsley().on('field:validated', function () {
            console.log("validate");
        }).on('form:submit', function () {
            console.log("submit");
            var $resetPasswordBtn = $(this);
            var email = $("#resetPasswordEmail").val();
            $('.js_processing_spinning_wheel').show();
            $resetPasswordBtn.prop('disabled', true).addClass('disabled');
            $resetPasswordBtn.find('span.btn-title').text('Processing...');

            var url = "/forgot-password";
            var data = {
                email: email,
            }
            var xhr = $.ajax({
                type: "POST",
                url: url,
                data: data,
            });
            xhr.done(function () {
                $('#iconStart').hide();
                $('#messageStart').hide();
                $('#iconSuccess').fadeIn();
                $('#messageSuccess').fadeIn();
                $('.js_processing_spinning_wheel').hide();
                $resetPasswordBtn.prop('disabled', false).removeClass('disabled');
                $resetPasswordBtn.find('span.btn-title').text($resetPasswordBtn.find('span.btn-title').attr('data-original-title'));
            });
            xhr.fail(function () {
                $('.js_processing_spinning_wheel').hide();
                $resetPasswordBtn.find('span.btn-title').text("Error");
                showError($resetPasswordBtn);
            });

            return false;
        });
    }, false);
</script>