<div class="sidenav fixed" id="sidenav">
    <a href="#" class="brand-link">
        <img src="~/favicon.ico" class="brand-image" />
        <span class="brand-text">Brand</span>
    </a>
    <div class="user-panel my-3 px-3 d-flex">
        <div class="image-user">
            <img src="~/images/avatar.png" />
        </div>
        <div class="info-user">
            <span class="user-text">User</span>
        </div>
    </div>
    <div class="nav-dropdown">
        <button class="dropdown-btn">
            <i class="fas fa-tachometer-alt" style="margin-left: .75rem"></i>
            <span class="item-text">Item 1</span>
            <i class="fa fa-caret-down fa-2x"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" class="item-link">
                <i class="far fa-circle"></i>
                <span class="item-text">Item</span>
            </a>
            <a href="#" class="item-link">
                <i class="far fa-circle"></i>
                <span class="item-text">Item</span>
            </a>
            <a href="#" class="item-link">
                <i class="far fa-circle"></i>
                <span class="item-text">Item</span>
            </a> 
        </div>
    </div>
    <div class="nav-dropdown">
        <button class="dropdown-btn">
            <i class="fas fa-circle" style="margin-left: .75rem"></i>
            <span class="item-text">Item 2</span>
            <i class="fa fa-caret-down fa-2x"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" class="item-link">
                <i class="far fa-circle"></i>
                <span class="item-text">Item</span>
            </a>
            <a href="#" class="item-link">
                <i class="far fa-circle"></i>
                <span class="item-text">Item</span>
            </a>
            <a href="#" class="item-link">
                <i class="far fa-circle"></i>
                <span class="item-text">Item</span>
            </a>
        </div>
    </div>
</div>
@section Scripts
{

}