<footer class="main-footer" id="main-footer">
    <div>
        <strong>
            Copyright © 2020
        </strong>
    </div>
    <div class="float-right">
        <strong>
            Footer
        </strong>
    </div>
</footer>
