$main-color: #343a40;
$main-color-hover: #23272b;
$primary-color: #24a0d1;

$success-color: #5cb85c;
$warning-color: #f39c12;
$urgent-color: #dc3545;
$menu-background-color: #222d32;
$background-color: #ecf0f5;
$background-color-login: #ebebeb;
$color-gray-selected: #eeeaea;
$table-color-hover: #f0f8ff;
$background-color1: rgb(229, 238, 247);
$background-input: #007bff;
$color-gray-button: #999;
$header-color: #0091cf;
$active-color: #09a0db;
$backgroud-body: #f0f0f0;
$backgroup-title: #2aa876;
$background-color-hover: #222d32;
$text-color: #48576a;
$boder-gray: rgba(0, 0, 0, 0.15);
$border-color: #efefef;
$hover-gray: #efefef;
$link-color: #1790d4;
$footer-color: #2a343f;
$footer-color-1: #121922;

.primary-color {
    color: $primary-color;
}
