.btn {
    font-size: 1rem;
    font-weight: 300;
    padding: rem-calc(8.5) rem-calc(12);

    &.btn-primary {
        color: #fff;
        background-color: #1e5c8b;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: #2c6d9e;
        }
    }

    &.btn-dark {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;

        &:hover,
        &:focus,
        &:active {
            background-color: #23272b;
            border-color: #23272b;
        }
    }
}

.btn-facebook {
    color: #fff;
    background-color: #476cb8;
    font-weight: 400;
    @include fontSize(16);
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 42%;
    }

    &:hover {
        color: #fff;
        background-color: #476cb8;
        border-color: #0095d6;
    }
}

/* Button Link style */
.btn-custom {
    color: #1e5c8b;

    &:hover {
        cursor: pointer;
        color: #2773ae;
    }

    &-link {
        display: inline-flex;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.btn-icon:hover {
    cursor: pointer;
    text-decoration: underline;
}
