<div class="container reset-password-confir">
    <div class="content">
        <h2> Đổi mật khẩu thành công</h2>
        <p>Bạn đã đổi mật khẩu thành công. <a asp-action="Login">Trở về đăng nhập </a> </p>
    </div>
</div>
