@model ResetPasswordModel

    <form class="reset-password" asp-action="ResetPassword">
        <div class="card">
            <div class="clearfix card-header">
                <h4>Lấy lại mật khẩu</h4>
            </div>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label primary-color">Mật khẩu</label>
                    <input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu ..."/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label primary-color">Nhập lại mật khẩu</label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu ..."/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <button type="submit" class="btn btn-dark text-uppercase form-group">Tạo mật khẩu mới</button>
            </div>
        </div>
    </form>
